/********************************************************************************
                         Style Team Detail  
*********************************************************************************/
.about-wrap{
    background-color: #fff!important;
    padding: 20px 30px!important;
}
.about-wrap .about-text{
	font-size: 14px;
    line-height: 20px;
    min-height: auto;
    margin-bottom: 30px;
}
.about-wrap .wrap-header{
	float: left;
	width: 100%;
	overflow: hidden;
}
.about-wrap .wrap-header .headerLeft{
	float: left;
	width: 19%;
}
.about-wrap .wrap-header .headerRight{
	float: right;
	width: 80%;
	padding-top: 20px;
	padding-left: 20px;
	box-sizing: border-box;
}
.about-wrap .wrap-header .headerLeft img{
	max-width: 80%;
	display: block;
	margin: 0 auto;
}
.about-wrap .nav-tab:first-child{
	margin-left: 0;
}

/********************************************************************************
                        Page Login WP
*********************************************************************************/
body.login {
    float: left;
    width: 100%;
    overflow: hidden;
    background-color:#FFF !important;
    background-image:url('bg.png') !important;
    background-position:top !important;
    background-repeat:repeat !important;
}
#login {
    padding: 3% 0 0;
}
#login h1 a {
	background-image: url("TVGroup.png") !important;
	height: 110px;
	background-size: 70%;
	width: 150px;
	background-color: #fff;
}
#login h1 a { 
	outline: 0;
}
.login #backtoblog a, .login #nav a, .login h1 a {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
#backtoblog {
    display:none;
}
#nav {
    display:none;
}
.login form .input, .login input[type=text],
.login form .input, .login input[type=text] {
    font-size: 14px!important;
    padding: 5px 10px!important;
}
